body{
  margin: 0% 0%;
  padding: 0% 0%;
  box-sizing: border-box;
  font-family: 'Advent Pro', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap');

html {
scroll-behavior: smooth;
}
#nnav{
  z-index: 9;
  padding: 0.01px 0;
}

ul {
margin: 0;
padding: 0;
}
li {
list-style-type: none;

}
h2 {
text-transform: uppercase;
text-align: center;
padding-top: 40px;
font-size: 3em;
}
a {
text-decoration: none;
color: black;
}
/* ******************* NAVBAR ******************* */
.nav {
  overflow: hidden;
  position: fixed;
  width: 100%;
  opacity: 0.9;
  background-color: #333131;  
}
header ul {
  list-style-type: none;
}
header li {
  float: left;
}
header li a {
  text-decoration: none;
  display: block;
  padding: 18px 40px;
  margin-bottom: 6.5%;
  color: white ;
  font-family: sans-serif;
  font-size: 160%;
  

 }
#logo {
  font-weight: bold;
  float: left;
  margin-left: 2.6%;
  margin-top: 0.5%;
  margin-right: 4%;
}

.ul1 li a:hover {
  background-color: #5a5a5a;
  color: #fff;
}


.nav-droite{
padding-top: 0.8%;
}
/* ******************* NAVBAR-burger ******************* */
.header__logo img {
max-height: 50px;
}


.header__nav__menu {
padding: 0;
margin: 0;
list-style: none;
display: flex;

}

.header__nav__menu__link {
margin-right: 20px;

}
.header__nav__menu__link h1 {
color: #fff;
margin-left: 80%;
font-size: 15px;
}
.header__nav__menu__link h3 {
color: #fff;
margin-left: 41%;
font-size: 15px;
padding: 0 0 ;  
}
.header__nav__menu__link h4 {
color: #fff;
margin-left: 49%;
font-size: 15px;
}

.sous_titre{
display: block;
z-index: 9;
}

.img_sous_texte{
position: absolute;
display: flex;
left: 25%;
margin-top: -2%;
}
.img_sous_textes{
position: absolute;
display: flex;
left: 38%;
margin-top: -1%;
top: 27.2%;
}

.header__nav__menu__link:last-of-type {
margin-right: initial;
}

.titre-nav {
color: #fff;
font-family: 'Arial';
font-weight: 850;
text-decoration: none;
position: relative;
}

.header__nav__menu__link a:after {
content: '';
height: 2px;
background-color: #fff;
width: 0;
position: absolute;
bottom: -5px;
right: 0;
transition: 0.2s all ease-in-out;
}

.header__nav__menu__link a:hover:after {
width: 100%;
left: 0;
}

.header__burger {
display: none;

}

.header__burger svg {
stroke: #fff;
width: 70px;
height: 70px;
float: right;
right: 35px;
top: 12px;
position: absolute;
z-index: 0;
position: fixed;

}

.header__nav__close {
display: none;
}

@media screen and (max-width: 10500px) {

.header__burger {
    display: block;
    cursor: pointer;
}


.header__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 1;

}

.header__nav.open {
    display: flex;
    animation: transformMenu 300ms ease-in-out forwards;
}

@keyframes transformMenu {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: initial;
    }
}

.header__nav__menu {
    flex-direction: column;
    align-items: flex-start;
    padding-right: 15%;
}

.header__nav__menu__link {
    margin-right: 0;
    margin-bottom: 20px;
}

.titre-nav {
    font-size: 40px;
    left: 8%;
}

.header__nav__close {
    display: block;
    cursor: pointer;
    
}

.header__nav__close svg {
    stroke: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 16px;
    right: 16px;
}

.overlay-menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    display: none;
}

.overlay-menu-mobile.open {
    display: block;
}

}

/* **************** IMAGE PRINCIPALE ************* */
#imagePrincipale {
  padding-top: 260px;
  background: url(img/background/arriere.png) no-repeat 60% 60%;
  background-size: cover;
  height: 799px;
}

#premierTrait {
  height: 1px;
  width: 25%;
  margin: -3px auto;
  background-color: #191b21;
  box-shadow: 1px 3px 2px #191b21;
}



/* **************** TOURISME ********************** */
#tourismess {
  height: 300px;
  background-color: #f1f2f6;
  padding: 1px 2%;

}
#tourismes {
  height: 350px;
  background-color: #f1f2f6;
  padding: 1px 2%;

}
#tourisme {
  height: 450px;
  background-color: #f1f2f6;
  padding: 1px 2%;
}
#tourismes h2 {
  padding-top: 60px;
}


#Actualités {
  background: url(img/lien/emulateur.png);
}

.ds {
  background: url(img/lien/ds.png);
}
#phare {
  background: url(img/lien/3ds.png);
}
#vignoble {
  background: url(img/logiciel.png);
}
#switch{
  background: url(img/lien/switch.png);
}
.multi{
  background: url(img/lien/multi.png);
}
#solo{  
  background: url(img/lien/solo.png);
}
#logiciel{
  background: url(img/lien/logiciel.png);
}
#tourisme li {
  margin: 65px 100px 0 100px;
  height: 226px;
  width: 55%;
  max-width: 550px;
  float: left;
  box-shadow: 6px 6px 28px -1px rgba(0,0,0,0.75);
  
}
#tourisme li:hover {
opacity: 0.5;
transform: scale(1.05);
transition: 0.6s ease-in-out;
z-index: -2;
}
#tourismes li:hover {
opacity: 0.5;
transform: scale(1.05);
transition: 0.6s ease-in-out;
z-index: -2;
}
#tourismes li {
  margin: auto;
  height: 226px;
  width: 55%;
  max-width: 550px;
float: none;  box-shadow: 6px 6px 28px -1px rgba(0,0,0,0.75);
}
#phare p {
  height: 45px;
  width: 235px;
  background-color: #9f9f9f;
  float:right;
  margin: -55px 160px 0 0;  font-size: 1.5em;
  text-align: center;
  padding-top: 15px;
  box-shadow: -4px 4px 2px 2px #626262;
}
#multi p {
  background-color: #9f9f9f;
  margin: -55px 155px 0 0;
  box-shadow: -4px 4px 2px 2px #626262;
  padding-top: 15px;
  font-size: 1.5em;
  text-align: center;
  height: 45px;
  width: 235px;
  float: right;
}

#switch p{
  height: 45px;
  width: 235px;
  background-color: #9f9f9f;
  float:right;
  margin: -55px 160px 0 0;
    font-size: 1.5em;
  text-align: center;
  padding-top: 15px;
  box-shadow: -4px 4px 2px 2px #626262;
}
#Actualités p {
  height: 45px;
  width: 235px;
  background-color: #9f9f9f;
  float: right;
  margin: -55px 160px 0 0;
  font-size: 1.5em;
  text-align: center;
  padding-top: 15px;
  box-shadow: -4px 4px 2px 2px #626262;
}
#logiciel p {
  height: 45px;
  width: 235px;
  background-color: #9f9f9f;
  float:right;
  margin: -55px 160px 0 0;
  font-size: 1.5em;
  text-align: center;
  padding-top: 15px;
  box-shadow: -4px 4px 2px 2px #626262;
}
#tourisme #chateau, #tourisme #vignoble {
  float: right;
}
#vignoble p{
  
  float: left;
  background-color: rgb(202, 198, 198);;
  margin: -55px 160px 0 0;
    box-shadow: -4px 4px 0 1px rgb(151, 150, 150);
  padding-top: 15px;
  font-size: 1.5em;
  text-align: center;
  height: 45px;
  width: 235px;
  margin: 50px 0px 0 -180px;


}
#chateau p {
  background-color: #9f9f9f;
  margin: -55px 155px 0 0;
  box-shadow: -4px 4px 2px 2px #626262;
  padding-top: 15px;
  font-size: 1.5em;
  text-align: center;
  height: 45px;
  width: 235px;
  float: right;
}
#solo p {
  background-color: #9f9f9f;
  margin: -55px 155px 0 0;
  box-shadow: -4px 4px 2px 2px #626262;
  padding-top: 15px;
  font-size: 1.5em;
  text-align: center;
  height: 45px;
  width: 235px;
  float: right;
}
/* ******************* FOOTER ******************** */
p{
    color: #f1f2f6;
    background-color: #f1f2f6;

}

#presentation {
  background-color: #f1f2f6;
  padding: 20px 0px 150px 0;
 
}
#texteIntro {
  padding: 70px 15%;
  font-size: 1em;
  font-style: oblique;
  font-family: 'Arial', cursive;
  background-color: #f1f2f6;

}
#prestations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 20%;  
  background-color: #f1f2f6;

}
.imagesPrestations h4 {
  font-family: 'Souvenir', cursive;
  text-align: center;
  font-size: 1.4em;
  margin: 18px;
  font-weight: 300;
  background-color: #f1f2f6;

}
.imagesPrestations img {
  border-radius: 10px;
  box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.7);
  height: 245px;
  width: 535px;
  background-color: #f1f2f6;

}
.imagesPrestations img:hover {
  opacity: 0.5;
  transform: scale(1.05);
  transition: 0.6s ease-in-out;
  background-color: #f1f2f6;

}


/* barre de nav verticale  */

.ul {
  list-style-type: none;
  margin: 0 2px;
  padding: 0;
  width: 300px;
  background-color: #f1f1f1;
  position: absolute;
  font-size: 1.6em;
  text-align: center;
  margin-top: 20px;
}

.ul li a {
  display: block;
  color: #191b21;
  padding: 48px 60px;
  text-decoration: none;
}

/* color change on hover */
.ul li a:hover {
  background-color: #fad390;
  color: #fff;
}

  .icon {
    margin-right: 10px;
  }

#deuxiemeTrait{
  background-color: #f1f2f6;
}
#copyright{
  background-color: #f1f2f6;
}